.header {
    width: 100%;
    text-align: center;
}

@media (max-width: 1300px) {
    .header img {
        margin-left: 180px;
    }
}

@media (max-width: 1000px) {
    .header img {
        margin-left: 0;
    }
}