@import "./styles/color";

.cardinfo {
    margin-left: 100px;
    width: 100%;

    &__new {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: $red;
    }

    &__title {
        font-weight: 600;
        font-size: 44px;
        line-height: 52px;
    }

    &__desc {
        font-size: 30px;
        line-height: 35px;
        font-weight: 500;
        font-family: "Raleway", -apple-system, sans-serif;

        &__title {
            font-size: 30px;
            line-height: 35px;
            font-weight: 500;
            font-family: "Raleway", -apple-system, sans-serif;
        }
    }

    &__price {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-top: 14px;
    }

    &__color {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-top: 25px;

        &__select {
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        &__item {
            border: 1px solid lighten(black, 60%);
            border-radius: 5px;
            width: 32px;
            height: 32px;
            margin-right: 7px;
            cursor: pointer;
        }
    }

    &__size__item {
        transition: .1s linear;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px;
        text-transform: uppercase;
        width: 32px;
        height: 32px;
        display: flex;
        margin-right: 7px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .active__color {
        transform: scale(1.2);
    }

    .active__size {
        color: white;
        background: #000000;
        border: 1px solid #FFFFFF;
    }

    &__button {
        border-radius: 8px;
        width: 299px;
        height: 37px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__error {
            color: $red;
            position: relative;
            top: -30px;
            left: 100px;
            font-size: 12px;

        }
    }

    &__buy {
        background: $blue;
        margin-top: 55px;
        color: white;
        border: none;
        transition: .4s;

        &:hover {
            background: #0707e1;
        }
    }

    &__cart {
        background-color: inherit;
        margin-top: 10px;
        color: $blue;
        border: 1px solid $blue;
        transition: .4s;
        margin-bottom: 40px;

        &:hover {
            box-shadow: 0 0 4px $blue;
        }
    }

    &__toggle {
        display: flex;
        margin-top: 8px;
        margin-bottom: 6px;
        user-select:none;

        &__title {
            font-family: 'Raleway', -apple-system, sans-serif;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
        }

        &__img {
            margin-left: 5px;
            cursor: pointer;
            margin-top: 5px;
        }

        &__text {
            width: 350px;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__horizontal {
        content: "";
        width: 325px;
        height: 1px;
        background: $black;
        margin-top: 30px;
    }

    &__size {

        &__img {
            margin-top: 14px;
            max-width: 200px !important;
            object-fit: contain !important;
            position: relative !important;
        }
    }
}


@media (max-width: 790px) {
    .cardinfo {
        margin-top: 40px;
    }
}

@media (max-width: 520px) {
    .cardinfo {
        margin-left: -30px;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cardinfo__size {
        text-align: center;
    }

    .cardinfo__toggle__text div {
        font-size: 16px;
        line-height: 18px;
    }

    .cardinfo__button {
        width: 100%;
    }

    .cardinfo__toggle__title {
        font-size: 18px;
    }
}


@media (max-width: 420px) {
    .cardinfo {
        width: 90%;
        margin-left: initial;
    }
}