@import "color";
@import "font";

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica", -apple-system, sans-serif;
  background-color: $background;
  color: $black;
}

ul, li {
  margin: 0;
  padding: 0;
}

input, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container {
  //max-width: 1330px;
  margin: 0 auto;
}

.wrapper {
  position:relative;
  min-height:100vh;
}

.main {
  flex: 1 0 auto;
  margin-left: 240px;
  padding: 0 10px;
  margin-bottom: 60px;
}


@media (max-width: 1000px) {
  .main {
    margin-left: 0;
  }
}